<div class="footwrap">
	<p>Copyright 2012-2014 www.99mi.com All Rights Reserved <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备13035787号</a></p>
    <div class="ft_bot">
        <!--<p>
            <a class="fti fti_a" href="#none"></a>
            <a class="fti fti_b" href="#none"></a>
            <a class="fti fti_c" href="#none"></a>
            <a class="fti fti_d" href="#none"></a>
            <a class="fti fti_e" href="#none"></a>
        </p>-->
        <p style="margin-bottom:15px;margin-left:160px">
        	<a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1597730734" target="_blank" style="margin: 0 14px;"><img src="__PUBLIC__/img/zj_01.jpg"></a>
            <a href="/images/footer/ba.html" target="_blank" style="margin: 0 14px;"><img src="__PUBLIC__/img/zj_02.jpg"></a>
            <a href="http://www.bj.cyberpolice.cn/index.do" target="_blank" style="margin: 0 14px;"><img src="__PUBLIC__/img/zj_03.jpg"></a>
            <a href="/images/footer/xxw.html" target="_blank" style="margin: 0 14px;"><img src="__PUBLIC__/img/zj_04.jpg"></a>
            <a style="margin: 0 14px;"><img src="__PUBLIC__/img/zj_05.jpg"></a>
        </p>
    </div>
</div>